name: Github Pages
on: [push, pull_request]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node (14.x)
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: gulp

      - name: Checkout GH pages
        uses: actions/checkout@v2
        with:
          repository: stellar/js-stellar-base
          ref: gh-pages
          path: jsdoc

      - name: Generate JS docs
        run: yarn docs

      - name: Publish JS docs
        run: |
          ls -lAh
          git remote -v
          TAG=`git describe --tags --always`
          cd jsdoc
          git add .
          git commit -m $TAG
          git push origin gh-pages
