name: npm publish
on:
  release:
    types: [published]
  push:
    branches: [soroban]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'

      - name: Install Depencencies
        run: yarn install

      - name: Test & Build
        run: yarn preversion

      - name: Publish release npm package
        run: yarn publish --tag soroban
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
