name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        node-version: [14, 16]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: yarn install

    - name: Build
      run: yarn build

    - name: Run Node Tests
      run: yarn test:node

    - name: Run Browser Tests
      run: yarn test:browser

    - name: Run Linter
      run: yarn tslint
